html {height: 100%;}

body {
    background: #5f0707; 
    margin: 0; 
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "REM";
    box-sizing: border-box;
}

.active {
    color:#5f0707 ;
}


h1 {font-size: 42px; color: #ffffff;}
h2 {font-size: 22px;}
p {color: #212121;}

.container {
    width: 80%; 
    max-width: 1096px;
    margin: 0 auto;
    place-content: center;
    }

    .burger-ico {display: none;}
    
header {
    background-color: rgb(0, 0, 0);
     min-height: 96px; 
     position: sticky; 
     top: 0; 
     z-index: 9;
    display: flex;  
}

#logo {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 25px; 
    font-weight: 800;
    display: flex;
    margin-top: 47px;
    margin-left: 23px;
}

header .container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%;
    margin-right: 80px;
}

nav ul {display: flex;}

nav ul li {list-style: none;}

nav a {text-decoration: none; color: #ffffff; margin-left: 16px; transition: all .4s;}

nav a:hover {color: #5f0707;}

nav{
    position:sticky;
    
    
    background: rgb(0, 0, 0);
    right: auto;
    width: auto;
    transition: all .4s;
    z-index: 200;
  
}


#hero {
    background: linear-gradient(140deg, #2c2b2b, #333131);
    position: relative;
}

#hero img, #hero video {
    width: 100%; 
    display: block;
}

#hero div {
    width: 100%; height: 100%; 
    top: 0; 
    position: absolute; 
    background: rgba(0, 0, 0, 0.738);
    display: grid;
    place-items: center;
}

main {display: grid; gap: 16px;}

.ico {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: #351f55;
    display: inline-grid;
    place-items: center;
    color: #fff;
    font-size: 30px;
}

.colums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 20px;
    
}

.columnas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 20px;
    
}


article {
    background: #fff; 
    padding: 24px; 
    text-align: center; 
    border-radius: 6px;
    hyphens: auto;
}

footer {
    background-color: rgb(0, 0, 0); 
    min-height: 96px; 
    margin: 16px 0 0 0;
}

.logo {
    height: 80px;
    float:left ;
    margin-left:2px;
    margin-top: 8px;
}

.catalogo{
    width: 100%; 
    height: 100%; 
    display: grid;
    place-items: center;
    background-color: #000;
}

.catalogo2{
    width: 100%; 
    height: 100%; 
    display: grid;
    place-items: center;
    background-color: beige;
}

#logowsp {
    width: 65px;
    margin-top: 0px;
    margin-left: 16px;
    place-items: center;
}

#logoig {
    width: 40px;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 16px;
    place-items: center;
}

#logoigg {
width: 80px;


}
#instagram {
width: 40px;
margin-left: 16px;
margin-top: 20px;
}
#wsp {
width: 40px;

margin-left: 16px;
margin-top: 20px;
}

#gmail {

margin-left: 8px;
margin-top: 20px;

}
#redes {
display: flex;
align-items: center;
}

#a1 {
background-color: black;

}

#a2 {
background-color: black;

}


#a3 {
 background-color: black;   

}
.Marcas {
background-color: black;
align-items: center;
color: #fff;
text-align: center;
}

#a4, #a5, #a6 {
background-color: black;
color: white;


}

.acerca {
color: burlywood;
}

.text{
   color: white;
}

.historia{
    color: rgb(235, 235, 195);
}

.a7{
    margin: auto;
    width: 70% ;
    height: auto;
    background-color: rgb(0, 0, 0);
    
}

#a8{
    background-color: rgb(0, 0, 0);
    margin-top:12px ;
}

.reseñas{
    width: 100%; 
    height: 100%; 
    display: grid;
    place-items: center;
    background-color: rgb(209, 183, 112);
}

.usuario{
    display: flex;
align-items: center;
    color: orange;
}

.tirar{
    display: flex;
align-items: center;
max-width: 80px;
max-height: 80px;
    margin-top: 0px;
    margin-left: 0px;
}

.rating {
max-width: 67px;
max-height: 67px;
display: flex;
margin-left: 70px;

position: absolute;
margin-bottom: 190px;

}





#chico{
    display: flex;
align-items: center;
max-width: 350;
max-height: 450px;
    margin-top: 0px;
    margin-left: auto;
}


#Layer_1 {
width: 24px;
float: left;

}

#contacto {
list-style: none;
font-size: 22px;
color: white;  
    
}

#contacto p {
color: white;

}





#titulo {
    text-align: left;
    margin-left: 12px;
    
}
#Capa_1 {
width: 17px;

    
}

a #correo {
float: left; 
display: flex;


}

iframe {
display: flex;
margin-left: 40px;


}
.formulario h2 {
border-bottom: 2px solid goldenrod;



}
.formulario {
margin-left: 33%;
position: absolute;
margin-top: 10%;
width: 600px;
background-color:rgb(255, 255, 255);
border-radius: 10px;
text-align: center;
color:black;

border: 2px solid black;
}

.formulario form {
box-sizing:border-box ;
}

form .nombre {
position: relative;
border-bottom: 2px solid goldenrod;
margin: 30px;
} 
.nombre input {
width: 100%;
padding: 0;
height: 20px;
outline: none;
background: none;
}

form .apellido {
position: relative;
border-bottom: 2px solid goldenrod;
margin: 30px;

}

.apellido input {
    width: 100%;
    padding: 0;
    height: 20px;
    outline: none;
    background: none;


}

form .correo {
position: relative;
border-bottom: 2px solid goldenrod;
margin: 30px;
}

.correo input {
    width: 100%;
    padding: 0;
    height: 20px;
    outline: none;
    background: none;
}


form .contraseña {
    position: relative;
    border-bottom: 2px solid goldenrod;
    margin: 30px;
}

.contraseña input {
    width: 100%;
    padding: 0;
    height: 20px;
    outline: none;
    background: none;
    



}

.boton {
width: 25%;
height: 28px;
border: 2px solid goldenrod;
background-color: #000;
border-radius: 15px;
color: white;
margin-bottom: 5px;
cursor: pointer;
font-size: 18px;
}

.principal {
background-color: white;



}



#iniciodesesion {
margin-left: 43%;


}
#iniciodesesion{
color: white;
}
.shadow {transition: all .4s; background: rgba(0, 0, 0, 0);}
.shadow-active {position: fixed; top: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); z-index: 7;}

#iniciodesesion a {
text-decoration: none;
color: #e4b109;
    
}


@media (max-width: 1284px) {

    html {height: 100%;}

    body {
        background: #5f0707; 
        margin: 0; 
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        font-family: "REM";
        box-sizing: border-box;
    }

   

    #hero {
        background: linear-gradient(140deg, #2c2b2b, #333131);
        position: relative;
        align-items: center;
    }

    .colums {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        gap: 20px;
        
    }
    

    .container {
        display: grid; 
    justify-content: space-between; 
    align-items: center; 
    height: 94%;
    place-content: center;
    
    }

    .catalogo2{
        width: 100%; 
        height: 100%; 
        display: grid;
        place-items: center;
        background-color: beige;
        align-items: center;
        position: relative;
        margin-bottom:50px;
        
    }

    .Marcas {
        width: 100% auto;
        height: 100% auto;
        background-color: black;
        align-items: center;
        color: #fff;
        text-align: center;
        margin: 50px;
        }

    #a1 {
        
        place-items:auto;
        background-color: black;
        width: 80%;
        height: 80%;
        
        }
        #a2 {
            background-color: black;
            width: 80%;
            height: 80%;
            
            }
            #a3 {
                background-color: black;
                width: 80%;
                height: 80%;
                
                }
                #a4 {
                    background-color: black;
                    width: 80%;
                    height: 80%;
                    
                    }
                    #a5 {
                        background-color: black;
                        width: 80%;
                        height: 80%;
                        
                        }
                        #a6 {
                            background-color: black;
                            width: 80%;
                            height: 80%;
                            
                            }

                .abrir-menu {

                    display: grid;
                    
                    }

                    

}




@media (max-width: 1284px) {
    
    html {font-size: 14px;}
    .colums {grid-template-columns: 1fr;}
    header {height: 52px;}
    .burger-ico {
        color: #fff; 
        display: block; display: flex; 
        cursor: pointer; 
        font-weight: 800; font-size: 20px; 
        background: #2a292c; 
        z-index: 9; transition: all .4s; 
        height: 40px; width: 40px; 
        display: grid; place-items: center; 
        border-radius: 50%; 
        padding: 0 1.5px 3px 1.5px;
       margin-left: 900px; ;
       
    } 
    .burger-active {transform: rotate(-90deg); }
    .shadow {transition: all .4s; background: rgba(0, 0, 0, 0);}
    .shadow-active {position: fixed; top: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, .8); z-index: 7;}
    nav {position: fixed; right: -300px; width: 300px; background: #000000; height: 100%; top: 0; transition: all .4s; z-index: 8;}
    nav ul {flex-direction: column; padding: 82px 22px;}
    nav ul li {padding: 12px 0; font-size: 22px; color: #fff;} nav ul li a {color: #fff;}
    .show-menu {transform: translateX(-300px);}
}